
  .logo {
      width: 5.5rem;
      &:hover
        {
            color: map-get($color-base,gold)!important;
            font-weight: bold;
            transform: translateY(-3px);
            transition: $time;
        }
  }

  .items{
    /* color: map-get($color-base,light); */
        &:hover
            {
                color: map-get($color-base,gold)!important;
                font-weight: bold;
                transform: translateY(-3px);
                transition: $time;
            }
  }
  .dropdown-item{
    &:hover
    {
        color: map-get($color-base,gold)!important;
        font-weight: bold;
        background: none;
        transform:translateX(18px);
        transition: $time;
    }
}

.text-gold{
    color:map-get($color-base,gold) !important;
    text-decoration: none;
    font-weight: bold;
}

.bg-dark{
    background-color: map-get($color-base,dark) !important;
}

.navbar{
    min-height: 3.5rem;
}
.nav-link{
    color: map-get($color-base,light);
    text-transform: uppercase;
    font-size: 0.8rem;
}
.navbar-brand{
    color: map-get($color-base,light); 
}