
  .logo {
      width: 5.5rem;
      &:hover
        {
            color: map-get($color-base,gold)!important;
            font-weight: bold;
            transform: translateY(-3px);
            transition: $time;
        }
  }

.text-gold{
    color:map-get($color-base,gold) !important;
    text-decoration: none;
    font-weight: bold;
}

.bg-dark{
    background-color: map-get($color-base,dark) !important;
}

.navbar{
    min-height: 3.5rem;
}
.nav-link{
    color: map-get($color-base,light);
    text-transform: uppercase;
    font-size: 0.8rem;
}