button{
    background: map-get($color-base,$key:green ); /* color del boton fondo*/
    outline: none;                  /* Para quitar borde chrome */

.notificacion{                      
        width: 18px;
        height: 18px;
         top: -10px !important; 
         z-index:2;
    }
}
 
.previoCarrito{
    z-index:99;
    position: fixed;
     right:6rem; 
    top: 80px;
    background-color: map-get($color-base,$key:light-grey );;
}